@using Dr_Hesabi.Classes.Class
@model Dr_Hesabi.DataLayers.Entity.Sliders

@{
    ViewData["Title"] = "ویرایش اسلاید";
}
<h2>ویرایش اسلاید</h2>
@section Styles
{
    <link href="~/Admin/Css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Admin/Css/kendo.default.min.css" rel="stylesheet" />
    <script src="~/Publish/Js/jquery-1.10.2.min.js"></script>
}
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SlideID" />
            <input type="hidden" asp-for="ImageName" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <textarea asp-for="Caption" class="form-control"></textarea>
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input type="file" name="ImgUp" id="ImgUp" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
                <img class="img-responsive img-thumbnail" src="~/Images/Sliders/@Model.ImageName" id="ShowImg" style="max-width: 300px;max-height: 200px" />
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" value="@Model.StartDate.ToDate()" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" value="@Model.EndDate.ToDate()" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-info">برگشت</a>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/EditSiders.js"></script>
    <script src="~/Admin/Js/JalaliDate.js"></script>
    <script src="~/Admin/Js/kendo.web.js"></script>
    <script src="~/Admin/Js/fa-IR.js"></script>
    <script src="~/Admin/Js/DatePicker.js"></script>
}