@model Dr_Hesabi.DataLayers.Entity.Attachments

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FileName" />
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input type="file" name="File" id="File" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
