@model Dr_Hesabi.DataLayers.Entity.Contents

<h2>آیا از این حذف مطمئن هستید؟</h2>
<div class="alert alert-warning text-center">
    <span>در صورت حذف این مجموعه، همه زیر مجموعه های آن نیز حذف خواهند شد.</span>
</div>
<div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="Delete">
                <div>
                    <span>تصویر : </span>
                    <span>
                        <img src="~/Images/Contents/@Model.ImageName" class="img-responsive img-thumbnail" width="200" height="150" />
                    </span>
                </div>
                <div>
                    <span>عنوان : </span>
                    <span>@Model.Title</span>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="DeleteParent">
        <input type="hidden" asp-for="ContentID"/>
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
</div>