@model List<string>
@{
    int count = Model.Count() / 2;
}

@if (Model.Any())
{
    <div id="Target_School">
        <h4>اهداف آموزشی و پرورشی</h4>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="Target_Text">
                    @foreach (var item in Model.Take(count))
                    {
                        <span>@item</span>
                    }
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="Target_Text">
                    @foreach (var item in Model.Skip(count))
                    {
                        <span>@item</span>
                    }
                </div>
            </div>
        </div>
    </div>
}