@model Dr_Hesabi.Classes.ViewModel.TopSiteViewModel

<div class="header-logo">
    <a href="/">
        <img src="~/Images/Setting/@Model.ImgLogo" alt="@Model.NameSite" loading="lazy">
    </a>
</div>
<div class="header-info">
    <h3>@Model.NameSite</h3>
    <span>@Model.NameSite2</span>
</div>