@model Dr_Hesabi.Classes.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<div id="Profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-4">
                <partial name="PartialViews/Dashboard" />
            </div>
            <div class="col-lg-8 col-md-9 col-sm-8">
                <form asp-action="ChangePassword">
                    <div class="Account">
                        <h4>تغییر رمز عبور</h4>
                        <div class="Account_Box">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @if (ViewBag.SuccessChange == true)
                            {
                                <div class="alert alert-success text-center">
                                    رمز عبور شما با موفقیت تغییر کرد
                                </div>
                            }
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="mdi mdi-lock input-group-addon"></i>
                                    <input asp-for="OldPassword" class="form-control" placeholder="رمز عبور فعلی" />
                                </div>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="mdi mdi-lock-plus input-group-addon"></i>
                                    <input asp-for="NewPassword" class="form-control" placeholder="رمز عبور جدید" />
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="mdi mdi-lock-plus input-group-addon"></i>
                                    <input asp-for="ReNewPassword" class="form-control" placeholder="تکرار رمز عبور جدید" />
                                </div>
                                <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LcUrMoZAAAAAGTfU1jMlJ5QZIBp2RXD-15Y8_fI"></div>
                                <span>
                                    <span class="text-danger">@ViewBag.MessageError</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="تغییر رمز عبور" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
}
