@model Dr_Hesabi.Classes.ViewModel.ForgetPasswordViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<form asp-action="ForgetPassword">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-xs-12">
                <div class="Account">
                    <h4>فراموشی رمز عبور</h4>
                    <div class="Account_Box">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (ViewBag.SuccessForget == true)
                        {
                            <div class="alert alert-success text-center">
                                ایمیل بازیابی برای شما ارسال شد.
                            </div>
                        }
                        <div class="alert alert-info text-center">
                            <span>ایمیل اکانت خود را وارد نمایید تا لینک بازیابی رمز عبور برای شما ارسال شود.</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <i class="mdi mdi-email input-group-addon" id="basic-addon1"></i>
                                <input asp-for="Email" class="form-control" placeholder="ایمیل" />
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LcUrMoZAAAAAGTfU1jMlJ5QZIBp2RXD-15Y8_fI"></div>
                            <span>
                                <span class="text-danger">@ViewBag.MessageError</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="بازیابی رمز عبور" class="btn btn-info" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
}