@model Dr_Hesabi.Classes.ViewModel.RecoveryPasswordViewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<form asp-action="RecoveryPassword">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-xs-12">
                <div class="Account">
                    <h4>بازیابی رمز عبور</h4>
                    <div class="Account_Box">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (ViewBag.SuccessRecovery == true)
                        {
                            <div class="alert alert-success text-center">
                                رمز عبور شما با موفقیت تغییر کرد
                            </div>
                        }
                        @if (ViewBag.ErrorRecovery == true)
                        {
                            <div class="alert alert-danger text-center">
                                امکان تغییر رمز عبور وجود ندارد
                            </div>
                        }
                        <div class="form-group">
                            <div class="input-group">
                                <i class="mdi mdi-email input-group-addon" id="basic-addon1"></i>
                                <input asp-for="NewPassword" class="form-control" placeholder="رمز عبور جدید" />
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <i class="mdi mdi-email input-group-addon" id="basic-addon1"></i>
                                <input asp-for="ReNewPassword" class="form-control" placeholder=" تکرار رمز عبور جدید" />
                            </div>
                            <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LcUrMoZAAAAAGTfU1jMlJ5QZIBp2RXD-15Y8_fI"></div>
                            <span>
                                <span class="text-danger">@ViewBag.MessageError</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="تغییر رمز عبور" class="btn btn-success" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
}