@{
    Layout = null;
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه مورد نظر یافت نشد</title>
    <link href="~/Public/Css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Default/Css/StyleNotFound.css" rel="stylesheet" />
</head>

<body class="bg-yellow">
<div class="container">
    <div id="Main">
        <div class="row">
            <div class="col-md-12">
                <div id="NotFoundImg">
                    <img src="~/Default/Img/NotFound.png" alt="صفحه 404">
                </div>
                <div id="NotfoundLink">
                    <a href="/" class="btn">صفحه اصلی</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="NotFoundTitle">
                    <span>صفحه مورد نظر یافت نشد</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>